<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>

    <header id="header"></header>

    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p><span class="nick-name">ceh</span></p>
            <p><a href="malito:ceh2805@gmail.com">ceh2805@gmail.com</a></p>
            <p><time datetime="2022-09-23T00:00:00">2022-09-23</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>본문<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden>댓글</label>
                    <textarea id="articleComment" placeholder="댓글을 입력해주세요"></textarea>
                    <button type="submit">쓰기</button>
                </form>
                <ul>
                    <li>
                        <div>
                            <time><small>2022-09-23</small></time>
                            <strong>Ceh</strong>
                            <p>
                                첫번째 글 내용입니다.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2022-09-23</small></time>
                            <strong>Ceh</strong>
                            <p>
                                첫번째 댓글 내용입니다.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2022-09-23</small></time>
                            <strong>Ceh</strong>
                            <p>
                                두번째 댓글 내용입니다.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2022-09-23</small></time>
                            <strong>Ceh</strong>
                            <p>
                                세번째 댓글 내용입니다.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a href="#">이전 글</a>
                <a href="#">다음 글</a>
            </nav>
        </section>
    </main>

    <footer id="footer"></footer>

</body>
</html>